In [1]:
import pandas as pd
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from tensorflow import keras

In [0]:
import os
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

In [0]:
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [0]:
df = drive.CreateFile({'id':'1IpnjJDt7t3u4hhuPb6dXimdLtdjaXtfJ'})
df.GetContentFile('final.xlsx')

In [0]:
import io

In [0]:
sub = drive.CreateFile({'id':'1q-mJxQHhnwWocNnC5kRcmSojlF1yvqCN'})
sub.GetContentFile('submission.xlsx')

In [0]:
sub = pd.read_excel('submission.xlsx')

In [0]:
df['Gender']=pd.Series(np.where(df.Gender.values == 'Male', 1, 0),
          df.index)
df['Marital_status']=pd.Series(np.where(df.Marital_status.values == 'Married', 1, 0),
                               df.index)
df['Car_loan']=pd.Series(np.where(df.Car_loan.values == 'Yes', 1, 0),
                               df.index)

df['Personal_loan']=pd.Series(np.where(df.Personal_loan.values == 'Yes', 1, 0),
                               df.index)
df['Education_loan']=pd.Series(np.where(df.Education_loan.values == 'Yes', 1, 0),
                               df.index)
df['Emp_status']=pd.Series(np.where(df.Emp_status.values == 'employed', 1, 0),
                               df.index)
df['Home_loan']=pd.Series(np.where(df.Home_loan.values == 'Yes', 1, 0),
                               df.index)

In [0]:
df= df[['Checking_amount','Credit_score','Saving_amount','Age']]

In [9]:
df

     Checking_amount  Credit_score  Saving_amount  Age
0              111.0         668.0         3190.0   24
1              270.0         612.0         3237.0   26
2              211.0         751.0         3356.0   36
3              325.0         722.0         3210.0   29
4             1237.0         841.0         2797.0   31
..               ...           ...            ...  ...
198             17.0         562.0         2658.0   28
199            590.0         873.0         3469.0   29
200            343.0         824.0         3426.0   31
201            709.0         811.0         3114.0   28
202            991.0         794.0         3309.0   33

[203 rows x 4 columns]

In [0]:
from sklearn.preprocessing import MinMaxScaler

In [0]:
scaler = MinMaxScaler()

In [12]:
scaler.fit(df)

MinMaxScaler(copy=True, feature_range=(0, 1))

In [0]:
df = pd.DataFrame(data=scaler.transform(df),
                       columns=df.columns,
                       index=df.index)

In [0]:
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [0]:
model = drive.CreateFile({'id':'1-xZWrpY4GsxpxMvjwjRUgC1cLMd3ktWc'})
model.GetContentFile('model.h5')

In [19]:
df

     Checking_amount  Credit_score  Saving_amount  Age
0              111.0         668.0         3190.0   24
1              270.0         612.0         3237.0   26
2              211.0         751.0         3356.0   36
3              325.0         722.0         3210.0   29
4             1237.0         841.0         2797.0   31
..               ...           ...            ...  ...
198             17.0         562.0         2658.0   28
199            590.0         873.0         3469.0   29
200            343.0         824.0         3426.0   31
201            709.0         811.0         3114.0   28
202            991.0         794.0         3309.0   33

[203 rows x 4 columns]

In [15]:
from keras.models import load_model
 
# load model
model = load_model('model.h5')
# summarize model.
model.summary()

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:541: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:4432: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:190: The name tf.get_default_session is deprecated. Please use tf.compat.v1.get_default_session instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:197: The name tf.ConfigProto is deprecated. Please use tf.compat.v1.ConfigProto instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:203: The name tf.Session is deprecated. Please use tf.compat.v1.Session instead.

Using TensorFlow backend.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:207: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:216: The name tf.is_variable_initialized is deprecated. Please use tf.compat.v1.is_variable_initialized instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:223: The name tf.variables_initializer is deprecated. Please use tf.compat.v1.variables_initializer instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/optimizers.py:793: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3657: The name tf.log is deprecated. Please use tf.math.log instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow_core/python/ops/nn_impl.py:183: where (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:1033: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:1020: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 16)                80
_________________________________________________________________
dense_2 (Dense)              (None, 16)                272
_________________________________________________________________
dense_3 (Dense)              (None, 8)                 136
_________________________________________________________________
dense_4 (Dense)              (None, 8)                 72
_________________________________________________________________
dense_5 (Dense)              (None, 1)                 9
=================================================================
Total params: 569
Trainable params: 569
Non-trainable params: 0
_________________________________________________________________

In [28]:
yhat_probs = model.predict(df, verbose=0)
# predict crisp classes for test set
yhat_classes = model.predict_classes(df, verbose=0)
# reduce to 1d array
yhat_probs = yhat_probs[:, 0]
yhat_classes = yhat_classes[:, 0]

/usr/local/lib/python3.6/dist-packages/keras/engine/sequential.py:272: RuntimeWarning: invalid value encountered in greater
  return (proba > 0.5).astype('int32')

In [52]:
yhat_classes

array([1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0,
       0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0,
       0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0,
       1, 0, 0, 0, 0], dtype=int32)

In [0]:
res=pd.DataFrame(yhat_classes)

In [37]:
res

     0
0    1
1    1
2    0
3    0
4    0
..  ..
198  1
199  0
200  0
201  0
202  0

[203 rows x 1 columns]

In [23]:
yhat_probs

array([9.91131544e-01, 9.77003813e-01, 4.37644124e-03, 4.85560983e-01,
       1.71220005e-02, 8.70266557e-03, 2.00048089e-03, 1.37611479e-01,
       8.11157942e-01, 9.93964553e-01, 6.72617555e-03, 2.56383598e-01,
       3.90238166e-02, 5.90556860e-03, 3.00884247e-04, 1.67754292e-03,
       1.38398707e-02, 7.03324616e-01, 1.16660714e-01, 1.44177079e-02,
       9.85481262e-01, 3.90207767e-03, 9.88543272e-01, 9.89472866e-01,
       8.63357425e-01, 2.72123903e-01, 4.57569957e-03, 1.85051560e-03,
       7.97320604e-01, 2.31776804e-01, 4.53238219e-01, 2.98597991e-01,
       1.70546681e-01, 9.23573971e-04, 9.92502093e-01, 3.31928730e-02,
       7.95109272e-01, 9.63849664e-01, 9.93469000e-01, 1.46597624e-04,
       2.04059482e-03, 8.14513564e-01, 6.51963234e-01, 3.01833451e-02,
       2.92635262e-01, 7.55625069e-02, 7.06285238e-04, 9.86933589e-01,
       3.24968040e-01, 9.35148299e-01, 9.90568876e-01, 9.32851434e-03,
       5.77314615e-01, 5.77023029e-01, 9.91132975e-01, 5.21193504e-01,
       8.68260860e-04, 2.34904885e-03, 2.71362066e-03, 7.06655562e-01,
       2.27461457e-02, 1.76522136e-03, 1.41650200e-01, 5.56519628e-02,
       1.99761987e-03, 2.49207020e-04, 8.85385633e-01, 1.32248998e-02,
       1.27357244e-03, 2.52268612e-02, 9.86917138e-01, 1.34298205e-03,
       7.75039196e-04, 2.86340714e-04, 1.22317672e-03, 5.08091569e-01,
       9.87413645e-01, 8.83728266e-03, 2.93276489e-01, 8.47122073e-03,
       9.90436316e-01, 5.61308265e-02, 1.58369541e-03, 7.99203634e-01,
       1.37010217e-03, 9.39390063e-03, 5.57230413e-02, 1.10633373e-02,
       7.03603029e-04, 9.43351388e-01, 2.64785022e-01, 7.22497702e-04,
       7.28990138e-02, 7.16556907e-02, 2.52276659e-03, 9.33676481e-01,
       3.01918387e-03, 9.90826368e-01, 1.07741475e-01, 8.16792846e-02,
       5.54806948e-01, 6.20752871e-02, 7.03613162e-02, 9.90200996e-01,
       7.31522202e-01, 4.06932831e-03, 3.60965431e-02, 1.78468227e-03,
       6.50468469e-03, 4.41002846e-03, 5.11686027e-01, 3.36629152e-03,
       8.38744402e-01, 2.50784755e-02, 3.17224860e-03, 8.75166059e-03,
       2.61306763e-04, 9.93490219e-01, 7.23726511e-01, 9.55713868e-01,
       1.38086081e-03,            nan, 9.91813302e-01, 6.75678253e-04,
       1.00304782e-01, 1.98492944e-01, 5.74219644e-01, 9.94370937e-01,
       5.91963530e-04, 2.41331100e-01, 1.12330914e-03, 4.03152853e-01,
       1.51991844e-03, 9.91227269e-01, 9.71322060e-01, 7.35563993e-01,
       2.62193978e-02, 6.63089156e-02, 9.89841938e-01, 2.31176615e-04,
       3.11820805e-02, 7.18894601e-03, 4.24504280e-04, 7.59569764e-01,
       2.76088715e-03, 3.16160679e-01, 9.92782474e-01, 9.70300436e-01,
       1.49391890e-02, 1.08641386e-03, 7.28726387e-04, 2.49846876e-02,
       9.83922601e-01, 5.77867031e-05, 3.61842811e-02, 3.46602201e-02,
       1.97823346e-02, 7.56978989e-05, 9.90807891e-01, 1.01336837e-03,
       4.09099460e-02, 6.03765249e-03, 2.63628662e-02, 2.09331512e-04,
       6.57908916e-02, 7.08839297e-03, 1.17179126e-01, 2.90548801e-02,
       9.88781095e-01, 9.87035632e-01, 6.71491027e-03, 9.49710369e-01,
       9.93884563e-01, 9.71823990e-01, 1.18121505e-03, 9.86952245e-01,
       1.88021064e-02, 5.69188595e-03, 1.15269423e-03, 9.87284064e-01,
       1.59589946e-02, 2.14125246e-01,            nan, 9.59877670e-01,
       2.79963017e-04, 5.95364988e-01, 9.90320563e-01, 1.66022480e-02,
       3.19758058e-03, 9.26396251e-03, 9.92735207e-01, 2.75941998e-01,
       1.03697479e-02, 4.91997361e-01, 6.30846620e-03, 5.45555353e-03,
       9.87439632e-01, 1.94112957e-02, 9.87911463e-01, 1.40888989e-02,
       2.04509851e-02, 1.43628135e-01, 1.08876708e-03], dtype=float32)

In [0]:
fin = pd.concat([sub,res],axis=1)

In [44]:
fin

       ID  Default  0
0    1000      NaN  1
1    1001      NaN  1
2    1002      NaN  0
3    1003      NaN  0
4    1004      NaN  0
..    ...      ... ..
198  1198      NaN  1
199  1199      NaN  0
200  1200      NaN  0
201  1201      NaN  0
202  1202      NaN  0

[203 rows x 3 columns]

In [0]:
fin.to_csv('finsub.csv')